*{
    padding: 0;
    margin:0;
}
:root{
    --forground-color: #eee;
    --background-color: #000122;
    --background-active: #002244;
}
.back{
    background-color: var(--foreground-color);
}


#background, .background{
    width: 100%;
    background: linear-gradient(var(--background-color), var(--background-active));
    color: var(--forground-color);
    height : 50%;
    overflow: hidden;
    
    max-height: 475px;
}
.background{
    width: 100%;
    background: linear-gradient(var(--background-color), var(--background-active));
    color: var(--forground-color);
    padding: 10px 0;
}

#content{
    color: var(--forground-color);
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}

.buttoned-heading{
    font-size: 3em;
    text-align: right;
    width: 55%;
    margin:10px 0 10px 0;
    display: inline;
}

.heading-button{
    font-size: 2em;
    text-align: left;
    margin: 10px 0 10px 10px;
    display: inline;
    border: none;
    background-color: transparent;
    color: var(--forground-color)
}

.list-expander > li{
    font-size: 2em;
    padding: .5em;
}

.list-entry{
    font-size: 2em;
    width:75%;
    margin: 10px auto;
    height: 5em;
}

.heading-container{
    text-align: center;
    margin: 10px auto
}

.post-text{
    display: inline;
}

.title,.subtitle{
    text-align: center;

}
.title{
    font-size: 9em;
}
.subtitle{
    font-size: 2.5em;
}

.inputs{
    text-align: center;
    width: 75%;
    margin: 50px auto 100px auto;
}

.singleInput{
    display:block;
    margin: 10px auto;
    font-size: 3rem;
}

#submit{
    border: none;
    border-radius: 1rem 10rem 10rem 1rem;
    padding: 5px 10px;
    background-color: var(--background-color);
    color: var(--forground-color);
}
#submit:active{
    background-color: var(--background-active);
}

@keyframes fade {
    from {color: #009955;}
    to {color:var(--forground-color);}
    
}

.confirm{
    color: var(--forground-color);
    font-size: 3rem;
    animation: alternate 1s infinite fade;
}

@media screen and (max-width: 500px) {
    .title{
        font-size: 6em;
    }
    .subtitle{
        padding-top: 2em;
        font-size: 2em;
    }
}