<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Secret Santa 2023</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="../snow.css">
<script src="https://unpkg.com/htmx.org@1.9.8"></script>
<body>
    
    <div class="background">
      <div class="heading-container">
        <h2 class="buttoned-heading">{{.TargetName}}'s List</h3>
        <button class="heading-button" hx-trigger="click" hx-target="#targetList" hx-get="/data/?code={{.UserId}}">&#10227;</button>
      </div>
      <ul id="targetList" class="heading-container list-expander">
        {{range .Target}}
        <li>{{.}}</li>
        {{end}}
    </ul>
      
    </div>
    
    <form class="inputs back" hx-post="/data/" hx-target="this" hx-swap="none">
        <label class="singleInput">Your List</label>
        <input type="hidden" name="code" value="{{.UserId}}">
        <textarea name="list" placeholder="Enter item" class="list-entry">{{.User}}</textarea>
        <input type="submit" value="Save" class="singleInput" id="submit">
        <p class="confirm htmx-indicator">&#10004;</p>
        
    </form>
</body>